<form
  [formGroup]="form"
  style="display: flex; flex-direction: column; margin-top: 50px; margin-left: 20%"
>
  <div class="form-group-name">
    <label for="fullname">ชื่อ-สกุล</label>
    <input
      id="fullname"
      style="border: 1px solid black; margin-left: 15px"
      type="text"
      class="form-control-name"
      formControlName="fullname"
      pattern="^[A-Za-zก-๙\s]+$"
      (keypress)="onlyText($event)"
    />
  </div>

  <div class="section">

    <div *ngFor="let q of questions; let i = index">
      <fieldset style="margin-bottom: 20px;">
        <legend>{{ i + 1 }}. {{ q.question }}</legend>

        <label class="choices" *ngFor="let c of q.choices">
          <input type="radio" [formControlName]="'q' + i" [value]="c" />
          {{ c }}
        </label>
      </fieldset>
    </div>

    <fieldset>
      <button
        *ngIf="!showbt"
        type="button"
        style="
          margin-top: 20px;
          width: 100px;
          background-color: steelblue;
          color: white;
          border: none;
          padding: 10px;
          cursor: pointer;
        "
        (click)="onSubmit()"
        [disabled]="form.invalid"
      >
        ส่งข้อสอบ
      </button>
      <button
        *ngIf="showbt"
        type="button"
        style="
          margin-top: 20px;
          width: 100px;
          background-color: steelblue;
          color: white;
          border: none;
          padding: 10px;
          cursor: pointer;
        "
        (click)="onReset()"
      >
        สอบอีกครั้ง
      </button>
      <label style="margin-left: 50px;">
        {{ resultText }}
      </label>
    </fieldset>
  </div>
</form>
